select {
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
    background-color: #636363;
    background-repeat: no-repeat;
    background-position: right 5px top 12px;
    background-size: 16px 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 30px;
    width: 50%;
    font-size: 0.9em;
    font-weight: 100;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -ms-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
    -moz-appearance: none;
    margin-bottom: 2px;
}

select:focus, select:active {
    border: 0;
    outline: 0;
}

.card {
    border-radius: 5px;
    background-color: #284156;
    border: 1px solid #C3C3C3;
    margin-bottom: 4%;
}

.cardMainSettings {
    padding-top: 4px;
    border-bottom: 0;
}

.cardFooter {
    background-color: #FFFFFF;
    border-radius: 4px;
    border-top: 4px solid #284156;
    line-height: 0;
    text-align: center;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.card h3 {
    text-align: center;
}

.card:last-child {
    margin-bottom: 4%;
}

.card .cardMainSettings label h3 {
    color: #fbfcff;
    font-weight: 100;
    padding: 5px;
    margin: 0;
}

.card h3 {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10% 10%;
}

.logoResetForm {
    margin-bottom: 5%;
}

.logoResetForm img#logo {
    margin-bottom: 5px;
}

form.form-resetLogo {
    text-align: center;
}

form#uploadFile input {
    margin-left: 10%;
    margin-top: 10px;
}

input#uploadImage {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
    background-color: #274156;
    border: 1px solid #15232f;
    color: #FFFFFF;
    font-size: 1em;
    margin-bottom: 5px;
    font-weight: 100;
    cursor: pointer;
}

input:hover {
    opacity: 0.8;
}

form.form-languageSetting {
    text-align: center;
}
.formGroup {
    text-align: center;
}

.formGroup input {
    background-color: #FFFFFF;
    width: 50%;
    border-radius: 2px;
    border: 1px solid #C3C3C3;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 0.9em;
    font-weight: 100;
    margin-left: auto;
    margin-right: auto;
}

button.saveButton {
    width: 50%;
    padding: 10px;
    border-radius: 2px;
    background-color: #274156;
    border: 1px solid #1D3040;
    color: #FFFFFF;
    font-size: 0.9em;
    margin-bottom: 10px;
    font-weight: 100;
}

button.saveButton:hover {
    opacity: 0.8;
}

button#changeBackendLanguage {
    margin-top: 5px;
}

button#changeDetailedTag {
    margin-top: 5px;
}

/* Media queries */

@media screen and (min-width: 701px) {
    #uploadFile {
        grid-column: span 1;
    }
    .logoResetForm {
        grid-column: span 1;
    }
    form#uploadFile {
        text-align: left;
    }
    form#uploadFile span {
        margin-left: 10%;
    }
}
@media screen and (max-width: 700px) {
    #uploadFile {
        grid-column: span 2;
        margin-bottom: 5%;
    }
    .logoResetForm {
        grid-column: span 2;
    }
    form#uploadFile {
        text-align: center;
    }
    form#uploadFile span {
        margin-left: 0;
    }
    .formGroup input {
        width: 90%;
    }
    button.saveButton {
        width: 90%;
    }
    select {
        width: 90%;
    }
    button#changeBackendLanguage {
        width: 90%;
    }
}
