body {
    background-color: #D9D9D9;
    overflow: auto;
    margin: 0;
    font-family: sans-serif;
}

textarea {
    font-family: sans-serif;
}

/* Bar at the top with user icon */
header {
    overflow: hidden;
    background-color: #404040;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: right;
    height: 35px;
    z-index: 99;
}

header .icon {
    position: absolute;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5em;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

header .headerUserIcon {
    width: 27px;
    position: relative;
    margin-top: 5px;
    right: 5px;
    cursor: pointer;
}

header .headerUserIcon:hover {
    opacity: 0.8;
}

.userMenu {
    width: 200px;
    position: fixed;
    height: 150px;
    right: 0;
    text-align: center;
    z-index: 2;
    background-color: #404040;
    display: none;
}

.userMenu img:first-child {
    padding-top: 20px;
}

.userMenu div:nth-child(2) {
    margin-top: 2px;
    margin-bottom: 2px;
}

.userMenu div:last-child {
    font-weight: 500;
    text-decoration: underline;
}

.userMenu div {
    color: #FFFFFF;
    font-weight: 100;
}

.userMenu div a {
    color: #FFFFFF;
}

.userMenu div a:hover {
    opacity: 0.8;
}

.userMenu.responsive {
    display: block;
}

/* Footer for save button, only visible on content- and posteditor */
footer {
    overflow: hidden;
    background-color: #404040;
    position: fixed;
    bottom: 0;
    height: 35px;
    width: 100%;
}

a:visited {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

aside nav a {
    padding-top: 5%;
    padding-left: 10%;
    display: block;
    padding-bottom: 5%;
}

aside nav label span.checkbox {
    padding-top: 5%;
    padding-left: 10%;
    display: block;
    padding-bottom: 5%;
}

aside nav a.nav-button-active {
    background-color: #274156;
}

aside nav label span.checkbox-active {
    padding-top: 5%;
    padding-left: 10%;
    display: block;
    padding-bottom: 5%;
    background-color: #274156;
}

.checkbox, .checkbox-active {
    cursor: pointer;
}

.checkbox:hover, aside nav a.nav-button:hover {
    background-color: #4d4c4c;
}

.dashIcon {
    background-image: url("../img/dashboard.svg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
    font-weight: 100;
    font-size: 1.2em;
}

.langIcon {
    background-image: url("../img/languages.svg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
    font-weight: 100;
    font-size: 1.2em;
}

.usersIcon {
    background-image: url("../img/users.svg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
    font-weight: 100;
    font-size: 1.2em;
}

.sitesIcon {
    background-image: url("../img/sites.svg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
    font-weight: 100;
    font-size: 1.2em;
    color: #FFFFFF;
}

.postsIcon {
    background-image: url("../img/posts.svg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
    font-weight: 100;
    font-size: 1.2em;
    color: #FFFFFF;
}

.settingsIcon {
    background-image: url("../img/settings.svg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
    font-weight: 100;
    font-size: 1.2em;
}

/* navigation dropdown styling */
#sites-dropdown, #posts-dropdown {
    display: none;
}

.sites-list, .posts-list {
    transition: height 1s ease-in-out;
    height: 0;
    margin: 0;
    overflow: hidden;
}

#sites-dropdown:checked + .sites-list, #posts-dropdown:checked + .posts-list {
    height: auto;
}

nav ul {
    background-color: #4D4C4C;
    margin: 0;
    list-style: none;
}


/* Sticky navbar */
.content {
    padding: 16px;
}

/* Sticky class is added with JS */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}

aside {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 100vh;
    background-color: #404040;
    position: fixed;
    overflow: auto;
}

main {
    margin-left: 200px;
    padding: 1px 16px;
    overflow: visible;
}

/* Bar at the bottom */
.save {
    position: fixed;
    bottom: 0;
    z-index: 9;
    right: 20px;
}

.save button {
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
    background-color: #4F864E;
    border: 1px solid #1F4429;
    color: #FFFFFF;
    font-size: 1em;
    margin-bottom: 5px;
    font-weight: 100;
}

.save button:hover {
    opacity: 0.8;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Modal (background) */
.helpModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Click-Overlay */
.overlay {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: transparent;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

.help {
    border: 10px solid #274156;
}

.modal-content h3 {
    font-weight: 100;
}

/* The Close Button */
.close {
    color: #373737;
    float: right;
    font-size: 28px;
}

.close:hover,
.close:focus {
    color: #636363;
    text-decoration: none;
    cursor: pointer;
}

/* Modal dialog buttons */
.buttonsModal {
    text-align: right;
}

.modal .modal-content .buttonsModal button#deleteNo {
    width: 20%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
    background-color: #d53636;
    border: 1px solid #aa3f3f;
    color: #FFFFFF;
    font-size: 1em;
    margin-bottom: 5px;
    font-weight: 100;
    cursor: pointer;
}

.modal .modal-content .buttonsModal button#deleteYes {
    width: 20%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
    background-color: #636363;
    border: 1px solid #464141;
    color: #FFFFFF;
    font-size: 1em;
    margin-bottom: 5px;
    font-weight: 100;
    cursor: pointer;
}

.modal .modal-content .buttonsModal form button#deletion-login {
    width: 20%;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 2px;
    background-color: #636363;
    border: 1px solid #464141;
    color: #FFFFFF;
    font-size: 1em;
    margin-bottom: 5px;
    font-weight: 100;
    cursor: pointer;
}

.modal .modal-content .buttonsModal button#addNo {
    width: 20%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
    background-color: #636363;
    border: 1px solid #464141;
    color: #FFFFFF;
    font-size: 1em;
    margin-bottom: 5px;
    font-weight: 100;
    cursor: pointer;
}

.modal .modal-content .buttonsModal button#addYes {
    width: 20%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
    background-color: #4F864E;
    border: 1px solid #3c704a;
    color: #FFFFFF;
    font-size: 1em;
    margin-bottom: 5px;
    font-weight: 100;
    cursor: pointer;
}

.modal .modal-content .buttonsModal button:hover {
    opacity: 0.8;
}

.infoMessage {
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 1px solid #C3C3C3;
    display: block;
    padding: 2%;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

#logo {
    border-radius: 250em;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
}

.card {
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 1px solid #C3C3C3;
}
.cardMain {
    padding: 30px;
    border-bottom: 5px solid #FFFFFF;
}

.cardFooter {
    background-color: #ECECEC;
    border-radius: 5px;
    border-top: 5px solid #FFFFFF;
    line-height: 3em;
    text-align: center;
}

.cardFooter a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 0.65em;
    font-weight: 100;
    color: #8A8A8A;
}

.main > div {
    display: table-cell;
    vertical-align: middle;
}

.wrapper {
    max-width: 360px;
    margin: 0 auto;
}

#inputId {
    display: none;
}

input {
    display: block;
}
.formGroup input {
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #C3C3C3;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 0.9em;
    font-weight: 100;
}

input[type="text"]:focus, input[type="password"]:focus {
    box-shadow: none;
    outline: none;
    border-color: #274156;
}

::placeholder {
    color: #C3C3C3;
    opacity: 1;
    transition: ease-in-out 0.7s;
}

input[type="text"]:focus::placeholder, input[type="password"]:focus::placeholder {
    color: #FFFFFF;
}

.formGroup button {
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    background-color: #274156;
    border: 1px solid #1D3040;
    color: #FFFFFF;
    font-size: 0.9em;
    margin-bottom: 5%;
    font-weight: 100;
}

.formGroup button:hover {
    opacity: 0.8;
}

.sites-list a {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.posts-list a {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.userMenu img {
    width: 40px;
    cursor: pointer;
}

.userMenu img:hover {
    opacity: 0.8;
}

.helpIcons {
    height: 1em;
}

/* Media queries */

@media screen and (max-height: 570px){
    .help {
        max-height: 410px;
        overflow-y: scroll;
    }
}

@media screen and (min-width: 701px) {
    aside {
        display: block;
    }
    main {
        margin-left: 200px;
    }
    header .icon {
        display: none;
    }
}
@media screen and (max-width: 700px) {
    aside {
        display: none;
    }
    main {
        margin-left: 0;
    }
    header .icon {
        display: block;
    }
    aside.responsive {
        display: block;
    }
    main.responsive {
        margin-left: 200px;
    }
    header a.responsive {
        background-color: #575757;
    }
    .modal-content {
        width: 80%;
        margin: 20% auto;
    }
    .modal .modal-content .buttonsModal button#addYes {
        width: 100%;
    }
    .modal .modal-content .buttonsModal button#addNo {
        width: 100%;
    }
    .modal .modal-content .buttonsModal button#deleteYes {
        width: 100%;
    }
    .modal .modal-content .buttonsModal button#deleteNo {
        width: 100%;
    }
    .modal .modal-content .buttonsModal form button#deletion-login {
        width: 100%
    }
}
